.idea/
.vscode/
*.DS_Store

src/
local/
test/api/node_modules
test/api/db.json
!test/cli/src
test/cli/src/logs/
test/cli/src/*.html
test/cli/src/*.json
node_modules/
logs/
*.txt
*.html
*.log
report.json